.testinomials-4 {
  padding-top: 60px;
  cursor: move;
  background-image: url("../../assets/images/food.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.testinomials-4::after {
  background-color: rgba(0, 0, 0, 0.77);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.testinomials-4 .carousel-inner .carousel-item {
  background-position: center center;
  background-size: cover;
}
.testinomials-4 h3 {
  color: #ffffff;
  font-weight: bold;
}
.testinomials-4 p {
  color: #ffffff;
}
.testinomials-4 p i {
  color: #b19b27;
  font-size: 3rem;
  margin-right: 10px;
}
.testinomials-4 a {
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
}
.testinomials-4 figure {
  border-radius: 50%;
  height: 160px;
  margin: 0 auto 1rem;
  overflow: hidden;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.77);
}
.testinomials-4 .item-hover {
  border: 1px solid #cccccc;
  padding: 1.4rem;
  margin-bottom: 1rem;
}
.testinomials-4 .carousel-indicators {
  margin: 30px 0 0;
  position: static;
  text-align: center;
}
.testinomials-4 .carousel-indicators li {
  border: 1px solid #b19b27;
  cursor: pointer;
  width: 0.9rem;
  height: 0.9rem;
}
.testinomials-4 .carousel-indicators li.active {
  background-color: #b19b27;
  border-color: #b19b27;
}
